<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<title>Welcome to Logy</title>
</head>

<body>
  <h3>
    Records of ${ app.name }@${ app.host.ip }
    <span py:if="app.host.name" py:strip="app.host.name">
        (${ app.host.name })
    </span>
  </h3>
  
  <ul>
    <li py:for="record in records">
      ${ log_format % record.getDict() }
      <pre py:if="record.traceback" py:content="record.traceback"></pre>
    </li>  
  </ul>
</body>
</html>
